@import "https://fonts.googleapis.com/css?family=Lato:300";
@import "https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css";
/*html,
body,*/
.meteoBackground {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

/*html {
  background: #fff;
}*/

/*body {
  background: #eee;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 200, 0.2)), to(rgba(0, 0, 200, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 200, 0.2), rgba(0, 0, 200, 0));
}*/

/*.background {
  background: #eee;
  background: linear-gradient(120deg, rgba(50, 150, 100, 0.2), rgba(0, 0, 100, 0));
}*/

.meteoContainer {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  position: relative;
  /*background: #eee;
  background: linear-gradient(240deg, rgba(150, 50, 50, 0.3), rgba(0, 0, 200, 0));*/
}

#meteoCard {
  box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
  border: 1px solid #cbcbcb;
  overflow: hidden;
  width: 300px;
  padding: 0;
  height: 400px;
  min-height: 300px;
  margin: 20px;
  border-radius: 5px;
  position: relative;
}
#meteoCard .details {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 16px 20px;
  color: #888;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-transition: color 2s ease;
  transition: color 2s ease;
}
.thunder #meteoCard .details {
  color: #ddd;
}
#meteoCard .details .right {
  text-align: right;
}
#meteoCard .details #date {
  margin: 4px 0;
}
#meteoCard .details #summary {
  font-weight: 600;
  font-size: 22px;
}
#meteoCard .details .temp {
  font-size: 60px;
  line-height: 60px;
}
#meteoCard .details .temp span {
  font-size: 18px;
  line-height: 30px;
  vertical-align: top;
  margin-left: 5px;
}

.weather {
  background-color: #dae3fd;
  -webkit-transition: background-color 2s ease;
  transition: background-color 2s ease;
}
.thunder .weather {
  background-color: #9fa4ad;
}
.rain .weather {
  background-color: #d8d8d8;
}
.sun .weather {
  background-color: #ccccff;
}
.weather #inner {
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
}
.weather .cloud {
  -webkit-transition: fill 2s ease;
  transition: fill 2s ease;
}
.weather #cloud1 {
  fill: #efefef;
}
.thunder .weather #cloud1 {
  fill: #9fa4ad;
}
.weather #cloud2 {
  fill: #e6e6e6;
}
.thunder .weather #cloud2 {
  fill: #8b8e98;
}
.weather #cloud3 {
  fill: #d5d5d5;
}
.thunder .weather #cloud3 {
  fill: #7b7988;
}

#outer,
#back {
  position: fixed;
  pointer-events: none;
}
